<strong>{{ locality.name }}</strong>
<br>{{ today.temp }}ºC, {{ today.weather }}
<br>Ветер: {{ today.wind_speed }} м/с {{ today.wind }}
<br>Влажность: {{ today.humidity }}%
<br>Давление: {{ today.pressure }} мм рт. ст.
<br><a href="#">Подробнее</a>
