<strong>{{ locality.name }}</strong>
<br>{{ fact.temp }}ºC, {{ fact.weather }}
<br>Ветер: {{ fact.wind_speed }} м/с {{ fact.wind }}
<br>Влажность: {{ fact.humidity }}%
<br>Давление: {{ fact.pressure }} мм рт. ст.
<br><a href="#">Подробнее</a>
